.modal-confirm-direccion{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 10;
}

.modal-confirm-direccion .shadow{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.modal-confirm-direccion .container{
    width: 80%;
    background-color: #ffffff;
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.25);
    margin-top: calc(50vh - 160px);
}

.modal-confirm-direccion .container .title{
    background-color: #337ab7;
    padding: 10px;
}

.modal-confirm-direccion .container .title h1{
    margin: 0 !important;
    font-size: 16px;
    color: #fff;
}

.modal-confirm-direccion .segment{
    font-size: 16px;
    color: #333;
    padding: 15px 20px;
}

.modal-confirm-direccion .block{
    display: inline-block;
    width: 9%;
}
.modal-confirm-direccion .blockx{
    width: 100%;
}

.modal-confirm-direccion .buttons{
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.04);
    margin: 0 !important;
    text-align: right;
    padding: 5px 10px;
}

.modal-confirm-direccion .buttons > *{
    margin-bottom: 0;
}

.confirm-visible{
    opacity: 1;
    visibility: visible;
    transition: all ease .3s;
}

.confirm-hide{
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 699px) and (min-width: 320px) {
    .modal-confirm-direccion .block{
        display: inline-block;
        width: 100%;
        margin: 2px 0px; 
    } 
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .modal-confirm-direccion .block{
        display: inline-block;
        width: 49%;
    } 
}