.ocultar{
    display: none !important;
}

label, input, select, textarea, button{
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.87);
    line-height: inherit;
    border: 0;
}

input[type=text],  input[type=number] {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
    animation-duration: 0.0001s;
    animation-name: mui-textfield-inserted;
     height: 32px;
}

textarea {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}

select {
    display: block;
    height: 32px;
    width: 100%;    
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    padding: 0 25px 0 0;
}

input[type=radio], input[type=checkbox] {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;    
}

html, body, input, textarea, buttons {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

button {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    background-color: #FFF;    
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer; 
    background-image: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: 0.03em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);  
    transition: all ease .4s; 
}

button:active {
    background-color: #e7e7e7;
    color: #0b0b0b;
}
